<div class="main--page--content">
  <nav class="main--page--nav">
      <ul class="main--page--nav--ul">
          <li class="main--page--nav--item">{{menu--item--first}}</li>
          <li class="main--page--nav--item">{{menu--item--second}}</li>
          <li class="main--page--nav--item">{{menu--item--third}}</li>
          <li class="main--page--nav--item">{{menu--item--fourth}}</li>
          <li class="main--page--nav--item">{{menu--item--fifth}}</li>
          <li class="main--page--nav--full-item">{{menu--item--full--item}}</li>
      </ul>
  </nav>
</div>
